version: "3.9"

services:
  mysql:
    image: mysql:latest
    container_name: mysql-container-dio
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - ./db/banco.sql:/docker-entrypoint-initdb.d/banco.sql
    networks:
      - app-network

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: phpmyadmin-container-dio
    ports:
      - "8081:80"
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    depends_on:
      - mysql
    networks:
      - app-network

  app:
    build: ./app
    #container_name: php-app-container-dio
    depends_on:
      - mysql
    environment:
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    networks:
      - app-network

  nginx:
    build: ./nginx
    container_name: nginx-container-dio
    ports:
      - "4500:4500"
    depends_on:
      - app
    networks:
      - app-network

networks:
  app-network:
